@charset "ISO-8859-1";


body {
    background: #e2e1e0;
    text-align: center;

  }



  .container {
      text-align: center;
      margin-top: 5rem;
  }
  
  .card {

	
    background: #fff;
    border-radius: 16px;
    display: inline-block;
    height: 200px;
    margin: 5rem;
    position: relative;
    width: 400px;
    font-size: 20px;
  }



  .card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  
  }


  .button  {
  
    background-color: #4CAF50;
    margin-top: 4rem;
    color:black;
    text-decoration: none;
    padding:10px 32px;
    font-weight:bold;
    border-radius: 8px;
    
  }
  
  .btn_container {
  
   margin-top: 20%;
  
  }